body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #1a202c;
  padding: 1rem;
}

nav a {
  color: #cbd5e0;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

.welcome-container {
  background-color: #f3f4f6;
  height: calc(100vh - 64px); /* Menyesuaikan tinggi navigasi */
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  text-align: center;
}
